---
id: f7644c2b-5e5b-493e-bdfb-b4d645599095
title: "JavaScript Patterns: Module"
date: 2010-12-12
---
<p>When I started getting more into JavaScript I was looking for the best ways
to organize my code. One of the most popular is to use the <em>Module
Pattern</em>. This pattern provides structure and helps you to write
self-contained decoupled pieces of code. Here is an example template:</p>
<%= gist 708851 %>
