---
id: 82a242b7-2605-4df9-ad0c-0e258a301775
title: How to Conduct an Iteration Planning Meeting
date: 2014-03-02
description: "A sample agenda for conducting an Agile Iteration Planning Meeting."
image: "x-wing-plans.jpg"
---
<%= partial "article_image", locals: {
  filename: current_page.data.image,
  alt: "X-Wing Plans",
  source: "Mike Psiaki",
  url: "http://www.flickr.com/photos/pmiaki/6657150957/"
} %>

A couple of weeks ago I wrote an article about [how to conduct a Release Planning meeting](/articles/2014/02/09/how-to-conduct-a-release-planning-meeting.html). This is the follow-up to that piece.

The purpose of an [Iteration Planning Meeting](http://www.extremeprogramming.org/rules/iterationplanning.html) is to break down a list of User Stories into tasks to be completed for the iteration. In contrast to the User Stories, tasks are written in the developer's language instead of the customer's language. The output of the meeting is a list of tasks and their estimates. Below is a sample agenda for this meeting, again based on the book [Collaboration Explained](http://www.amazon.com/Collaboration-Explained-Facilitation-Software-Project/dp/0321268776) by Jean Tabaka.

<table>
  <caption>Iteration Planning Meeting Agenda</caption>
  <tbody>
    <tr>
      <th>Opening</th>
      <td>Give the team a brief overview of what to expect. Review the goals of the meeting.</td>
    </tr>
    <tr>
      <th>What are the stories planned for this iteration?</th>
      <td>Review the stories that were originally planned for the iteration. Adjust the list based on what customer priorities have changed; also adjust if the results of previous iterations have changed the plan.</td>
    </tr>
    <tr>
      <th>What is the team composition for this iteration?</th>
      <td>Review the list of team members that will be available during the iteration, taking into account other commitments, vacation, etc.</td>
    </tr>
    <tr>
      <th>What is the team velocity for this iteration?</th>
      <td>If this is the first iteration, for each team member, count the number of days he/she will be available. The total will be the team velocity. If the team has completed at least one iteration, use the velocity from the previous iteration instead.</td>
    </tr>
    <tr>
      <th>What information is needed to break down and estimate the stories?</th>
      <td>Since a user story represents the start of a conversation, go through each story and discuss any questions around it, getting clarifications as needed from the customer.</td>
    </tr>
    <tr>
      <th>What the tasks and estimates for each story?</th>
      <td>Have the team brainstorm a list of tasks for each story. For each task, assign an estimate in ideal days (&frac12;, 1, 2, or 3). Break down tasks further if they are estimated to be longer than 3 ideal days. Sometimes there will be overlapping tasks between stories, consolidate them.</td>
    </tr>
    <tr>
      <th>Are there any concerns associated with these tasks and estimates?</th>
      <td>Brainstorm and display concerns on the wall.</td>
    </tr>
    <tr>
      <th>What is the team's commitment for this iteration?</th>
      <td>Total up the task estimates and compare to the planned team velocity. It may be necessary to add or remove stories to match the planned velocity. Check for concensus of the iteration plan, the entire team must be onboard.</td>
    </tr>
    <tr>
      <th>Close the meeting.</th>
      <td>
        <p>Review the purpose of the meeting and ensure that the team agrees that it has been met. Discuss the meeting process (What did or did not go well? What would you change for the next meeting?).</p>
      </td>
    </tr>
  </tbody>
</table>
