@import "_normalize";
@import "_github";

$padding: 16px;
$page-width: 768px;
$main-width: 560px;
$header-width: $page-width - $main-width;
$headline-fonts: 'Istok Web', sans-serif;
$body-fonts: 'Lora', serif;

a, a:link, a:visited, a:active {
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #cc0000;
}

body {
    font-family: $body-fonts;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headline-fonts;
    line-height: 1.5em;
}

pre.highlight {
    background-color: #f8f8f8;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 1em;
}

#wrapper {
    width: $page-width;
    margin: 40px auto;
}

header {
    float: left;
    width: $header-width;
    img {
        display: block;
        padding-bottom: 1em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &.social li {
            display: inline-block;
            padding-right: 3px;
        }
    }

    nav ul {
        font-family: $headline-fonts;
        list-style-type: none;
        padding-top: 1em;
        li a {
            text-decoration: none;
        }
    }
}

main {
    color: rgb(60, 60, 60);
    margin-left: $header-width;
    width: $main-width;
}

footer {
    font-size: 0.7em;
    text-align: center;
    ul {
        list-style-type: none;
        li {
            display: inline;
        }
        li + li:before {
            content: " | ";
        }
    }
}

.article-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: .5em 0;
        border-bottom: 1px solid #ccc;
    }

    a {
        font-family: $headline-fonts;
        text-decoration: none;
    }

    li span {
        float: right;
        color: #666;
        font-size: .8em;
    }
}

.article-date {
    color: #666;
    font-size: 0.8em;
}

.article-header {
    padding-bottom: 1em;
}

.article-image {
    float: right;
    padding-left: $padding;

    img {
        box-shadow: 1px 1px 8px #999;
        border: 1px solid #ccc;
        padding: 8px;
    }

    figcaption {
        font-size: 0.5em;
        font-weight: lighter;
        text-align: right;

        span {
            text-transform: uppercase;
        }
    }
}

@each $item in rss, linkedin, twitter, github {
    .icon-#{$item} {
        background: url("../images/#{$item}.png") center top no-repeat;
        width: 32px;
        height: 32px;
        display: block;
    }

    .icon-#{$item}:hover {
        background: url("../images/#{$item}-hover.png") center top no-repeat;
    }
}

.not-found {
    box-shadow: 1px 1px 8px #999;
    border: 1px solid #ccc;
    width: 560px;
    height: 372px;
    background-image: url("/images/storm-loss.jpg");

    div {
        float: right;
        width: 320px;
    }
}

.image-credit {
    font-size: 0.5em;
    font-weight: lighter;
    text-align: right;
}
