@import "_normalize";

$body-margin: 20px;
$page-width: 960px;
$header-width: 175px;
$main-width: $page-width - $header-width;
$headline-fonts: 'Istok Web', sans-serif;
$body-fonts: 'Lora', serif;

a, a:link, a:visited, a:active {
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #cc0000;
}

body {
    font-family: $body-fonts;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headline-fonts;
}

h1 {
    margin-top: 0;
}

#wrapper {
    width: 960px;
    margin: 20px auto;
}

header {
    float: left;
    width: $header-width;
    img {
        display: block;
        padding-bottom: 1em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &.social li {
            display: inline-block;
            padding-right: 3px;
        }
    }

    nav ul {
        font-family: $headline-fonts;
        list-style-type: none;
        padding-top: 1em;
        li a {
            text-decoration: none;
        }
    }
}

main {
    margin-left: $header-width + $body-margin;
    width: $main-width;
}

.article-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: .5em 0;
        border-bottom: 1px solid #ccc;
    }

    a {
        font-family: $headline-fonts;
        text-decoration: none;
    }

    li span {
        float: right;
        color: #666;
        font-size: .8em;
    }
}

@each $item in rss, linkedin, twitter, github {
    .icon-#{$item} {
        background: url("../images/#{$item}.png") center top no-repeat;
        width: 32px;
        height: 32px;
        display: block;
    }

    .icon-#{$item}:hover {
        background: url("../images/#{$item}-hover.png") center top no-repeat;
    }
}
