<% wrap_layout :layout do %>
  <article>
    <h1><%= current_article.title %></h1>
    <p class="article-date"><%= current_article.date.strftime("%B %e, %Y") %></p>
    <%= yield %>
  </article>
  <hr />
  <%= twitter_share_button %>
<% end %>
