<div class="not-found">
  <div>
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>The page you're looking for cannot be found. Double-check the URL and try again. You might be able to find what you're looking for on the <%= link_to "home page", "/index.html" %>.</p>
  </div>
</div>
<p class="image-credit">Image by <%= link_to "JD HANCOCK", "http://www.flickr.com/photos/jdhancock/4407661873/" %></p>
