<figure class="article-image">
  <a href="<%= url %>">
    <%= image_tag("articles/#{filename}", alt: alt, width: "256") %>
  </a>
  <figcaption>Image by <span><%= source %></span></figcaption>
</figure>
