<% if filename %>
<figure class="ms-3 figure float-end">
  <a href="<%= url %>">
    <%= image_tag "articles/#{filename}", alt: alt, class: 'figure-img img-fluid' %>
  </a>
  <figcaption class="figure-caption text-end text-muted">
    Image by <span class="text-uppercase"><%= source %></span>
  </figcaption>
</figure>
<% end %>
