<div class="social-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="bnadlerjr" data-dnt="true">Tweet</a>
</div>
<div class="social-button">
  <div class="g-plus" data-action="share" data-annotation="bubble"></div>
</div>
<div class="social-button">
  <script type="IN/Share" data-counter="right"></script>
</div>
<div class="social-button">
  <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="<%= current_article.title %>" data-url="<%= full_url(current_article.url) %>">Vote on HN</a>
</div>
<div class="social-button">
  <script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script>
</div>
