---
title: "About Bob Nadler, Jr."
description: "About Bob Nadler, Jr's website."
type: "website"
---
<article class="about-section py-5">
  <div class="container">
    <h2 class="title mb-3">About Me</h2>
    <p>Hi! My name is Bob Nadler, Jr. I am a <a href="https://github.com/bnadlerjr">software developer</a>, father, and husband living in NJ, USA. I enjoy helping people and businesses increase their productivity through software. I have over 15 years of experience building business software applications, 10 of them in the commercial financial services sector. My programming interests include making web applications using Clojure, Ruby, and Python.</p>

    <p>Currently, I work for <a href="https://flatironschool.com">the Flatiron School</a> as a Senior Software Engineer on a variety of systems, including DevOps support. Our primary stack is Ruby on Rails, but we also use Elixir. On the DevOps side I help manage our Terraform and AWS infrastructure.</p>
    <p>Previously, I worked for <a href="http://gust.com">Gust</a> on their core (Ruby on Rails) and internal billing (Python Flask) platforms.</p>

    <p>Prior to Gust, I worked for <a href="http://www.cyrusinnovation.com/">Cyrus Innovation</a> developing web applications using the <a href="http://www.extremeprogramming.org">Extreme Programming</a> process. We would collaborate with clients' developers to figure out how they can more effectively deliver working software, using agile process methodologies such as <a href="http://www.extremeprogramming.org/rules/userstories.html">User Stories</a>, <a href="http://www.extremeprogramming.org/rules/iterative.html">Iterative Development</a>, <a href="http://www.extremeprogramming.org/rules/integrateoften.html">Continuous Integration</a>, and <a href="http://www.extremeprogramming.org/rules/testfirst.html">Test Driven Development</a>. The technology stack included Ruby, Python and Java.</p>

    <p>Previously I worked for Siemens Financial Services, mainly using C# and the .NET platform. I've managed teams of 3 to 5 developers and have worked in various areas of the project life cycle from requirements and user interface design to coding and testing. I prefer doing some type of <a href="http://agilemanifesto.org/">Agile</a> development.</p>

    <p>My first experience programming was copying BASIC programs from <a href="http://en.wikipedia.org/wiki/COMPUTE!'s_Gazette">COMPUTE!'s Gazette</a> on a <a href="http://en.wikipedia.org/wiki/Commodore_VIC-20">Commodore VIC-20</a>. A few years later my father brought home a PC from work. I started playing with it by going through each of the DOS commands from the manual in alphabetical order. Everything went great until I got to the FORMAT command (coincidentally that was the same day I learned how to re-install an operating system). By the time I was in high school I had written programs in Pascal, C and a smidgen of Assembly.</p>
  </div>
</article>
